

.row{
    width: 100%;
    margin: 2% auto;
}

.navbar{
    background: #999999;
    border: 2px black solid;
    border-radius: 0;
    color: black;


}

.navbar-brand{
    font-family: 'Patrick Hand', cursive, sans-serif;
    font-size: 30px;
    float: left;
    font-weight: bold;
    color: black;

}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}


.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

#nav-list li{
    background: white;
    border-collapse: collapse;
    border: 1px black solid;
    text-align: center;
    font-family: 'Patrick Hand', cursive, sans-serif;
    font-size: 18px;
}

#main-content {
    margin: 0 0;
    font-family: 'Patrick Hand', cursive, sans-serif;
    font-size: 24px;
    line-height: 1.5;
}
#main-content h1{
    font-size: 32px;
    color: black;
}
.row h3{
    font-size: 24px;
    font-weight: bold;

}
h3 a{
     color: black;
 }
h3 a:hover{
    color: black;
}
@media (min-width: 1170px) {
    .col-lg-4{
        width: 30%;
        height: 700px;
        margin-left: 1%;
        margin-right: 1%;
        background-color: #999;
        overflow: hidden;
    }
    
}
@media (min-width: 992px) and (max-width: 1169px) {
    .col-md-4{
        width: 30%;
        height: 700px;
        margin-left: 1%;
        margin-right: 1%;
        background-color: #999;
        overflow: hidden;
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-6{
        width: 48%;
        height: 700px;
        margin: 1% 1%;
        background-color: #999;
        overflow: hidden;
    }

    .col-sm-12{
        width: 98%;
        height: 700px;
        margin: 1% 1%;
        background-color: #999;
        overflow: hidden;
    }
}
@media (max-width: 767px) {
    .col-xs-12{
        width: 100%;
        height: 700px;
        margin: 1% 1%;
        background-color: #999;
        overflow: hidden;
    }
}

.button-line:hover button,.button-line:hover .icon-bar {

    border: 1px solid white;

}