
hr{
    width: 500px;
    size: 1px;
    color: black;
}

.bodyblock{
    margin: 10% 25%;
}

.textblock{
    font-family: "Times New Roman";
    font-size: 20px;
    text-align: justify;
    line-height: 1.3;
}

.header1{
    font-size: 37.5px;
    font-family: Calibri;
    text-align: center;
    color: #922b2e;
    line-height: 1;
}

.header2{
    font-size: 22.5px;
    font-family: Calibri;
    text-align: center;
    color: #1d1d1b;
}



.footerblock{

    font-family: Calibri;
    text-align: center;
    font-size: 14px;

}