* {
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: SansSerif;
    font-size: 1.75em;
    margin: 3% 0 5%;
}
p{
    font-family: 'Times New Roman', SansSerif;
    background-color: #999;
    height: 150px;
    border: 1px black solid;
    margin: 10px 15px;
    padding: 8%;
    overflow: hidden;


}

.row{

    width: 100%;
}

@media (min-width: 992px){
    .col-lg-4 {
        position: relative;
        float: left;
        width: 33%;
    }

}

@media (min-width: 768px) and (max-width: 991px){
    .col-md-6, .col-md-12{
        position: relative;
        float: left;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-12{
        width: 100%;
    }
}

@media (max-width: 767px){
    .col-sm-12{
        position: relative;
        float: left;
        width: 100%;
    }

}

.region-titel1, .region-titel2, .region-titel3{
    position: absolute;
    text-align: center;
    font-size: 1.25em;
    height: 15%;
    width: 30%;
    top: 10px;
    right: 15px;
    background-color: #d49898;
    border: 1px black solid;
}

.region-titel2{
    background-color: #c04643;
    color: white;
}

.region-titel3{
    background-color: #e6d094;
}

