

a{
    color: black;
}
a:hover{
    color: black;
}


.navbar{
    background: #999999;
    border: 2px black solid;
    border-radius: 0;
    color: black;


}

.navbar-brand{
    font-family: 'Patrick Hand', cursive, sans-serif;
    font-size: 30px;
    float: left;
    font-weight: bold;

}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}


.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

#nav-list li{
    background: white;
    border-collapse: collapse;
    border: 1px black solid;
    text-align: center;
    font-family: 'Patrick Hand', cursive, sans-serif;
    font-size: 18px;
}

#main-content {
    margin: 2.5% 0;
    font-family: 'Patrick Hand', cursive, sans-serif;
    font-size: 24px;
    line-height: 1.5;
}
#main-content h1{
    font-size: 32px;
}

.container > .row{
    margin: 0 auto;
    width: 100%;
    height: 1000px;
    background-color: #999999;
    overflow: hidden;
}

.button-line:hover button,.button-line:hover .icon-bar {

        border: 1px solid white;

}